annotated-types==0.7.0
attrs==26.1.0
certifi==2024.6.2
cffi==2.0.0
charset-normalizer==2.0.4
click==8.4.1
cryptography==42.0.5
filelock==3.29.0
fsspec==2026.4.0
idna==3.7
joblib==1.5.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
msgpack==1.1.2
numpy==2.2.6
nvidia-nccl-cu12==2.30.4
packaging==26.2
pandas==2.3.3
protobuf==7.35.0
psutil==7.2.2
pyarrow==24.0.0
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
python-dateutil==2.9.0.post0
pytz==2026.2
PyYAML==6.0.3
ray==2.55.1
referencing==0.37.0
requests==2.32.2
rpds-py==0.30.0
scikit-learn==1.7.2
scipy==1.15.3
six==1.17.0
tensorboardX==2.6.5
threadpoolctl==3.6.0
tqdm==4.66.4
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.2.2
xgboost==3.2.0